<header>

  <!-- Intro Section -->
  <div id="home"
       class="view my-opacity hm-purple-slight jarallax overlay"
       data-jarallax='{"speed": 0.2}'
       style="background-image: url('../online/assets/bg_t_scott.png'); background-size: cover; background-position: center;">
    <div class="">
    <div class="full-bg-img">

        <div class="container flex-center">

          <div class="row pt-5 mt-3 main-text-content">
            <div class="col-md-12 wow fadeIn mb-3">
              <div class="text-center">
                <ul>
                  <li>
                    <h1 class="display-4 mb-5 wow fadeInUp">How To Deal With  Back Door Selling</h1>
                  </li>
                  <li>
                    <h5 class="mb-5 wow fadeInUp description2"
                        data-wow-delay="0.2s"
                    >Brought to you by Benedict Negotiating Seminars Inc.
                    </h5>
                  </li>
                  <li class="wow fadeInUp"
                      data-wow-delay="0.4s"
                  >
                    <a
                      href="../online/assets/demo/"
                      class="btn btn-primary demo-btn demo-button"
                      mdbRippleRadius
                    >
                      <i class="fa fa-user left"></i>
                      Demo
                    </a>
                    <a
                      routerLink = '/login'
                      class="btn btn-primary start-course start-course-button"
                    >
                      <i class="fa fa-book left"></i>
                      Start Course
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
