div.full-bg-img{
    height: 60vh;
}

div.full-bg-img ul {
  list-style-type: none;
  color: #fff;
}

div.full-bg-img li h1{
  padding-top: 15rem;
}
div.full-bg-img a{
  color: #fff;
  background-color: #E62137;
  border: none;
}

.demo-button {
  margin-left: 8px;
}

.start-course-button {
  margin-left: 8px;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  display: block;
  background: rgba(0, 0, 0, .6);
}
