<div class="container">
      <ng-container *ngIf="linkConfirmed; else login">

        <h3 align="center"> Congratulations!</h3>
        <h4 align="center">You may now proceed to the course! </h4>

        <div class="row form-signin">
          <button
            class="btn btn-lg btn-primary btn-block"
            type="button"
            (click)="startCourse()"
            *ngIf="!errorMessage"
          >
            Proceed!
          </button>

        </div>

        <div class="row form-signin">
          <button
            class="btn btn-block btn-light btn-sm"
            (click)="logout()"
          >
            Or, Logout and enter a new email address.
          </button>
        </div>

      </ng-container>

  <div class="alert alert-warning" 
  role="alert"
  *ngIf="errorMessage"
  >
    {{ errorMessage }}
  </div>

</div>


<ng-template #login>

  <form
    name="userform"
    method="post"
    #formCtrl="ngForm"
    class="text-center form-signin"
  >

    <h3 align="mb-3 center">Authenticate yourself</h3>
    <h5 align="mb-3 center">Sign in passwordlessly! We'll send you an email with an access link in order to verify your account.</h5>
    <div class="form-group">
      <!--<label for="email">Email address</label>-->
      <input
        type="email"
        class="form-control"
        [(ngModel)]="email"
        name="email"
        placeholder="Email address"
        required
      >
    </div>

    <div class="form-group">
      <!--<label for="fullName">Full Name</label>-->
      <input type="text"
             class="form-control"
             [(ngModel)]="fullName"
             name="fullName"
             placeholder="Full Name"
             required
      >
    </div>

    <!-- <div class="form-group">
      <select
        class="form-control"
        required
      >
        <option>Select your company...</option>
        <option>Company 1</option>
        <option>Company 2</option>
        <option>Company 3</option>
      </select>
    </div> -->

    <div class="form-group">
      <button
        [disabled]="emailSent"
        type="submit"
        class="btn btn-lg btn-primary btn-block"
        (click)="sendEmailLink()"
      >
        Get Login Link!
      </button>
    </div>

  </form>

  <div class="alert alert-success"
       role="alert"
       *ngIf="emailSent"
  >
    Cool! We sent you an email with your login link.
  </div>
</ng-template>
