<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h5>BENEDICT NEGOTIATING SEMINARS<br><br>Immediate, Measurable Results</h5>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="http://www.bnsnegotiation.com/" target="_blank"><i class="fa fa-angle-double-right"></i>Benedict Negotiating Seminars</a></li>
                    <li><a href="http://www.bnsnegotiation.com/purchasing.php" target="_blank"><i class="fa fa-angle-double-right"></i>Negotiating Services for Purchasing and Supply Chain</a></li>
                    <li><a href="http://www.bnsnegotiation.com/sales.php" target="_blank"><i class="fa fa-angle-double-right"></i>Negotiating Services for Sales and Marketing</a></li>
                </ul>
            </div>
            
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="instagram.com target=" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="google.com target=" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:towerdigital@gmail.com " target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>Benedict Negotiating Seminars · 5717 Bent Grass Drive, Valrico, Florida 33596 · 813-655-4272</p>
                <p class="h6">2018 Benedict Negotiating Seminars, Inc. All rights reserved.</p>
            </div>
        </div>	
    </div>
</section>
<!--/.Footer-->