<app-navbar></app-navbar>
<app-header></app-header>
<app-learning-objectives></app-learning-objectives>
<!--Section: About-->
<section id="about" class="section feature-box section-one">

    <!--Section heading-->
    <div class="about-heading">
      <p class="section-description lead grey-text darken-1">What our seminar emphasizes is that most salespeople are meticulously trained to ask very specific and seemingly harmless questions.  However, the way we answer these questions can significantly impact our company’s negotiating leverage and the success of the projects we are working on.</p>
      
      <p class="section-description lead grey-text darken-1">In fact, our answers to these questions can impact our company’s profitability, and even our job security, if our company’s products are priced too high to compete in the marketplace.</p>
      
      <p class="section-description lead grey-text darken-1">In a negotiation, information is power.  He or she who has the best information has the power.  </p>
      
      <p class="section-description lead grey-text darken-1">This workshop will help identify the types of questions salespeople are trained to ask, why they are asking those questions and how we should respond to those questions.  </p>

      <p class="section-description lead grey-text darken-1">As you take this video workshop, you will be joining hundreds of thousands of people in companies across the world who have utilized this workshop to even up the training between the highly skilled salesperson and anyone they talk to.  </p>

      <p class="section-description lead grey-text darken-1">We are excited that this training is now available in a self-paced format that brings this extremely effective seminar right to your desktop and other devices.  </p>

      <p class="section-description lead grey-text darken-1">It includes not only video, but also periodic questions that will help you to evaluate how effectively you are absorbing the major points of training. There are no grades given, but a downloadable certificate is available to verify your completion of the course.</p>
      <p class="section-description lead grey-text darken-1">Upon conclusion of the training, you will also have the ability to download a 14 page course summary, outlining the best responses to the most frequently asked "back door questions".</p>
      
      <p class="section-description lead grey-text darken-1">While we believe the very best training is done face-to-face in an interactive seminar, this online model can be a major help where there are not enough participants or a budget to implement the "in person" workshop.</p>
    </div>
    
  
    <!--Grid row-->
    <div class="row features-big pt-5">
  
        <!--Grid column-->
        <div class="col-md-4 mb-r text-center">
            <i class="fa fa-area-chart red-text fa-4x text-center"></i>
            <h5 class="feature-title">Time Frame</h5>
            <p class="grey-text info-icon-group">While the seminar is self-paced, it normaly takes participants 1 to 1.5 hrs.</p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-4 mb-r text-center">
            <i class="fa fa-signal cyan-text fa-4x text-center"></i>
            <h5 class="feature-title">Investment</h5>
            <p class="grey-text info-icon-group">The fee is $79 for a one session, one person license.</p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-4 mb-r text-center">
            <i class="fa fa-credit-card orange-text fa-4x text-center"></i>
            <h5 class="feature-title">Method of Payment</h5>
            <p class="grey-text info-icon-group">Visa or MasterCard</p>
        </div>
        <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>

  <section>
      <div class="extra-informations">
            <h1 class="section-heading pt-4 pb-4 text-center">PRIVACY STATEMENT</h1>
            
            <!--Section description-->
            <p class="section-description lead grey-text darken-1 text-center">This privacy statement explains our privacy practices for our customers who use our website for one or more seminars.</p>
            
            <h1 class="section-heading pt-4 pb-4 text-center">PERSONAL INFORMATION</h1>
    
            <p class="section-description lead grey-text darken-1 text-center">Sharing of personal information: BNS does not share, rent or disclose personal information to 3rd parties, except what is necessary to process your order. <br><br>Protection of personal information: BNS does not retain credit card information. Further, when you enter your credit card information online, that information is encrypted using a security protocol called SSL(Secure Sockets Layer). SSL encrypts the information before it's sent over the Internet.</p>
    
            <h1 class="section-heading pt-4 pb-4 text-center">REFUND POLICY</h1>
            
            <p class="section-description lead grey-text darken-1 text-center">Since this is a training seminar and not a product that can be physically returned, there are no refunds once the seminar has been started. There are no cancellations of the charges. That's why a short preview option has been provided.</p>
            
            
        </div>
    </section>

<app-footer></app-footer>